<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-agri-auto" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>agri-auto</name><js-module name="agri-auto" src="www/agri-auto.js"><clobbers target="cordova.plugins.agri-auto" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="agri-auto"><param name="android-package" value="cordova-plugin-agri-auto.agri-auto" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/agri-auto.java" target-dir="src/cordova-plugin-agri-auto/agri-auto" /></platform></plugin>